<style>
  p {
    font-size: 24px;
    font-style: italic;
  }
</style>

<h1 class="center_text" id="show_header">Resources</h1>


<ul id="resource_content">
<li><a target = "_blank" class="resource_links" href="https://www.advisorperspectives.com/dshort/updates/2017/05/02/market-cap-to-gdp-an-updated-look-at-the-buffett-valuation-indicator">
Buffet Indicator</a><br><p>One of the best stand-alone indicators of market-wide over or under valuation</p></li><br>
<li><a target = "_blank" class="resource_links" href="https://www.wsj.com/news/markets">WSJ Financial News</a><br><p>Source for general market-related current events</p></li><br>
<li><a target = "_blank" class="resource_links" href="https://finance.yahoo.com/">Yahoo Finance</a><br><p>Great for researching financials and charting</p></li><br>
<li><a target = "_blank" class="resource_links" href="https://fred.stlouisfed.org/">Federal Reserve Database</a><br><p>Easy-to-use macroeconomic data</p></li><br>
<li><a target = "_blank" class="resource_links" href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yield">Daily Treasury Yield Curve Rates</a><br><p>Check the title, yo.</p></li><br>
</ul>
