/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#yield_container {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 30px;
    margin: 15px auto;
    margin-top: 130px;
}

.greenPriceChange {
	color: green;
}

.redPriceChange {
	color: red;
}

.center-tiles {
	text-align: center;
	border: 2px solid black;
	border-radius: 15px;
	width: 20%;
	margin: 2.5%;
	height: 190px;
	box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.75);
	transition: transform .2s ease-out;
    background-color: #f0f0f0;
    padding-right: 0px;
    padding-left: 0px;
}

.center-tiles:hover {
	box-shadow: 5px 5px 25px 5px rgba(255,255,255,0.75);
	transform: translate(0, -20px);
}

#index_arrow {
	font-size: 60px;
	margin: -10px 0 0 0;
}

#ticker_symbol {
    font-weight: bold;
}

a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

.center_text {
    text-align: center;
}

.overview_wrapper {
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    padding-top: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
}

#graph_header {
    margin-bottom: -45px;
}



body {
    background-image: url('background.jpg');
}

#show_header {
    font-size: 72px;
    color: white;
    
    text-align: center;
}

#resource_content {
    color: white;
}

.resource_links {
    color: white;
    font-size: 30px;
}

.resource_links:hover {
    color: white;
}

.resource_links:visited {
    color: white;
}

.new_form {
    background-color: #f0f0f0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.links {
    .btn-custom {
        padding: 3px 10px;
        font-weight: 300;
    }
}

#error_message_div {
    text-align: center;
    color: white;
}

.logo_div {
    background-repeat: no-repeat;
    background-position: center;
    height: 186px;
    opacity: 0.15;
    border-radius: 15px;
}

.display_div {
    margin-top: -190px;
}

.overflow_warning {
    background-color: rgba(255,0,0,0.5);
    color: white;
    border-radius: 15px;
    text-align: center;
    width: 85%;
    margin: 15px auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.overflow_warning:hover {
    background-color: rgba(255,100,100,0.5);
}

.headButton {
    margin-top: -5px;
    margin-bottom: -5px;
}

#logoutButton {
    height: 30px;
}

#loginButton {
    height: 30px;
    width: 82px;
}

.hide {
    visibility: hidden;
}

#welcome_text {
    color: white;
    margin-top: 40px;
    margin-bottom: 45px;
}

#welcome_image {
    height: 95%;
    width:90%;
    margin-bottom: 25px;
}

#welcome_div {
    text-align: center;
}

.row {
    margin-top: -10px;
}

path {
    stroke: black;
    stroke-width: 3px;
    fill: none;
}

#dropdown_button {
    border: 2px solid black;
    background-color: #e0e0e0;
}

.graph_timeframes {
    text-decoration: none;
    color: black;
    padding: 0 10px 0 10px;
}

.graph_timeframes:hover {
    background-color: lightblue;
    text-decoration: none;
}

.graph_links {
    color: black;
}

.graph_links:hover {
    text-decoration: none;
    color: black;
}

.graph_links:visited {
    color: black;
    text-decoration: none;
}

#tooltip {         
    width: 60px;
    height: 28px;
    fill: steelblue;  
    z-index: 100;     
}

.change_graph_timeframe {
    text-align: center;
    content-align: center;
}

#group {
    transition: opacity 0.3s ease-out;
}

.active_stock {
    background-color: lightblue;
}

.logo_div_overview {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    height: 320px;
    opacity: 0.1;
    border-radius: 15px;
    margin: -337px 5px 0 5px;
}

.link_description {
    font-size: 16px;
}

.load_div {
    margin: 10px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: black;
    display:inline-block;
}

#overview_div_container {
    text-align: center;
    margin-top: 20px;
    height: 39.6px;
}

#overview_div {
    height: 322.2px;
}

#graph_container {
    height: 527px;
}

@font-face {
    font-family: 'ARCADE';
    src:font-url('ARCADE.TTF');
    src:font-url('ARCADE.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#ticker_tape {
    background-color: black;
    font-size: 24px;
    margin-top: -80px;
    color: black;
    padding-top: 3px;
    border: 3px solid black;
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    z-index: 100; 
}

#navbar_id {
   position: fixed; 
   width: 100%;
   z-index: 1000;
   margin-top: -130px;
}

#time_tape {
    padding-top: 3px;
    background-color: black;
    color: black;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    z-index: 10;
    box-shadow: 5px 5px 20px black;
    margin-top: -40px;
    border: 3px solid black;
}

#left-show {
    text-align: left;
}

#show_page_content {
    margin-top: 15px;
}

#tooltip {
    height: 45px;
    width: 90px;
}